@keyframes sm{
    0%{
        background:rgba(0,0,0,0);
    }
    100%{
        background:rgba(0,0,0,.3);
    }
}
@keyframes ms{
    0%{
        background:rgba(0,0,0,.3);
    }
    100%{
        background:rgba(0,0,0,0);
    }
}